# ==========================
# Environment Variables
# ==========================
.env
.env.*
!.env.example

# ==========================
# Dependencies
# ==========================
**/node_modules/

# ==========================
# Build Outputs
# ==========================
**/dist/
**/build/

# ==========================
# Logs
# ==========================
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Coverage
# ==========================
coverage/

# ==========================
# Temporary Files
# ==========================
*.tmp
*.temp

# ==========================
# Cache
# ==========================
.cache/
.parcel-cache/